services:
  api:
    build: .
    restart: always
    command: sh -c "python init_refs.py && uvicorn oc4ids_datastore_api.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - .:/app
    network_mode: "host"
    env_file:
      - .env
